In [10]:
import pandas as pd
m = pd.read_csv (r'C:\Users\Vaishnav\Documents\investment Management using python\data\Portfolios_Formed_on_ME_monthly_EW.csv' , header = 0,
                  index_col =0, parse_dates=True, na_values=-99.99)

In [11]:
m

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201808,NaN,3.47,4.04,2.87,3.09,5.05,3.90,3.54,2.49,2.41,5.07,5.30,4.70,3.02,5.01,3.50,3.58,2.65,2.34
201809,NaN,-2.24,-1.85,0.08,-2.04,-2.38,-2.48,-0.74,0.19,-1.68,-3.08,-3.22,-1.23,-2.65,-2.27,-1.31,-0.12,-0.51,0.87
201810,NaN,-10.76,-10.88,-7.63,-10.52,-11.74,-10.55,-9.45,-7.41,-10.02,-11.98,-11.89,-11.52,-11.58,-9.23,-10.74,-8.04,-8.28,-6.57
201811,NaN,-2.08,2.18,2.19,-2.78,1.69,1.46,2.62,2.49,-3.65,-0.23,1.23,2.30,1.74,1.11,3.54,1.63,2.45,2.53
201812,NaN,-14.28,-12.41,-9.76,-14.77,-12.44,-12.22,-11.34,-9.21,-15.31,-13.19,-11.94,-13.13,-12.73,-11.57,-11.87,-10.75,-9.54,-8.90

In [13]:
rets = m[['Lo 20','Hi 20']]
rets

        Lo 20  Hi 20
192607  -0.57   3.33
192608   3.84   2.33
192609  -0.48  -0.09
192610  -3.29  -2.95
192611  -0.55   3.16
...       ...    ...
201808   3.09   2.49
201809  -2.04   0.19
201810 -10.52  -7.41
201811  -2.78   2.49
201812 -14.77  -9.21

[1110 rows x 2 columns]

In [23]:
rets.columns=[['SmallCap','LargeCap']]

In [24]:
rets.head()

       SmallCap LargeCap
192607    -0.57     3.33
192608     3.84     2.33
192609    -0.48    -0.09
192610    -3.29    -2.95
192611    -0.55     3.16

In [33]:
rets

       SmallCap LargeCap
192607  -0.0057   0.0333
192608   0.0384   0.0233
192609  -0.0048  -0.0009
192610  -0.0329  -0.0295
192611  -0.0055   0.0316
...         ...      ...
201808   0.0309   0.0249
201809  -0.0204   0.0019
201810  -0.1052  -0.0741
201811  -0.0278   0.0249
201812  -0.1477  -0.0921

[1110 rows x 2 columns]

In [34]:
rets.std()

SmallCap    0.097197
LargeCap    0.056325
dtype: float64

In [41]:
import numpy as np
a=rets.std()*np.sqrt(12)
nms=rets.shape[0]
ann=((rets+1).prod()**(12/nms))-1

In [45]:
rets.shape

(1110, 2)

In [50]:
rets.std()*(12**0.5)*100

SmallCap    33.670128
LargeCap    19.511604
dtype: float64

In [47]:
import numpy as np
a=rets.std()*np.sqrt(12)
nms=rets.shape[0]
ann=((rets+1).prod()**(12/nms))-1

In [49]:
ann*100

SmallCap    15.197701
LargeCap     9.849021
dtype: float64

In [51]:
rets.index=pd.to_datetime(rets.index,format="%Y%m").to_period('M')

In [52]:
rets

        SmallCap LargeCap
1926-07  -0.0057   0.0333
1926-08   0.0384   0.0233
1926-09  -0.0048  -0.0009
1926-10  -0.0329  -0.0295
1926-11  -0.0055   0.0316
...          ...      ...
2018-08   0.0309   0.0249
2018-09  -0.0204   0.0019
2018-10  -0.1052  -0.0741
2018-11  -0.0278   0.0249
2018-12  -0.1477  -0.0921

[1110 rows x 2 columns]

In [58]:
rets["1999":"2015"]

        SmallCap LargeCap
1999-01   0.1114   0.0153
1999-02  -0.0399  -0.0172
1999-03  -0.0308   0.0368
1999-04   0.0824   0.0679
1999-05   0.0435  -0.0048
...          ...      ...
2015-08  -0.0347  -0.0559
2015-09  -0.0610  -0.0333
2015-10   0.0385   0.0710
2015-11   0.0165   0.0015
2015-12  -0.0500  -0.0229

[204 rows x 2 columns]

In [61]:
import numpy as np
a=rets["1999":"2015"].std()*np.sqrt(12)
nms=rets["1999":"2015"].shape[0]
ann=((rets["1999":"2015"]+1).prod()**(12/nms))-1
rrr =[ann*100,a*100]
rrr

[SmallCap    11.442634
 LargeCap     6.286512
 dtype: float64,
 SmallCap    22.889447
 LargeCap    17.271332
 dtype: float64]

In [72]:
wealth_index=1000*(1+rets["1999":"2015"]).cumprod()
previous_peaks= wealth_index.cummax()
drawdowns =(wealth_index-previous_peaks)/previous_peaks
-drawdowns.min()*100

SmallCap    62.480924
LargeCap    55.273500
dtype: float64

In [73]:
drawdowns.idxmin()

SmallCap    2009-02
LargeCap    2009-02
dtype: period[M]

In [74]:
import edhec_risk_kit as erk

In [77]:
hfi=erk.get_hfi_returns()

In [82]:
hfa=hfi["2009":]-hfi["2009":].mean()

In [89]:
erk.semideviation(hfi["2009":]).idxmax()

'Short Selling'

erk.skewness(hfi["2000":])

In [110]:
erk.kurtosis(hfi["2000":]).idxmax()

'Fixed Income Arbitrage'

In [105]:
hfi["2000":]

Convertible Arbitrage     2009-07
CTA Global                2000-12
Distressed Securities     2009-05
Emerging Markets          2009-05
Equity Market Neutral     2000-02
Event Driven              2009-05
Fixed Income Arbitrage    2009-05
Global Macro              2000-12
Long/Short Equity         2000-02
Merger Arbitrage          2006-01
Relative Value            2009-05
Short Selling             2000-11
Funds Of Funds            2000-02
dtype: period[M]