In [11]:
import pandas as pd
pr = pd.read_csv(r'\Users\Vaishnav\Documents/Book1.csv')

In [2]:
import pandas as pd

In [6]:
prices = pd. read_csv   ("Documents/Book1.csv")

FileNotFoundError: [Errno 2] File Documents/Book1.csv does not exist: 'Documents/Book1.csv'

In [12]:
import pandas as pd
pr = pd.read_csv(r'\Users\Vaishnav\Documents/Book1.csv')
pr

    red  green
0  12.1    8.4
1  14.3   10.2
2  12.3    7.5
3  16.2    8.7
4  12.3    9.8
5  11.2   10.5
6  10.9   11.0
7  10.5   11.2
8   9.9   12.5
9   9.6   13.6

In [22]:
returns = pr.pct_change()

In [23]:
returns

        red     green
0       NaN       NaN
1  0.181818  0.214286
2 -0.139860 -0.264706
3  0.317073  0.160000
4 -0.240741  0.126437
5 -0.089431  0.071429
6 -0.026786  0.047619
7 -0.036697  0.018182
8 -0.057143  0.116071
9 -0.030303  0.088000

In [24]:
returns = returns.dropna()

In [25]:
returns

        red     green
1  0.181818  0.214286
2 -0.139860 -0.264706
3  0.317073  0.160000
4 -0.240741  0.126437
5 -0.089431  0.071429
6 -0.026786  0.047619
7 -0.036697  0.018182
8 -0.057143  0.116071
9 -0.030303  0.088000